{% load i18n %}

{% block subject %}
{% blocktrans %} [LAWOD] - Account Activation {% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %} We noticed you've nearly reeled in the big one! But before you can start exploring all the prime fishing spots we have to offer, there's just one last step. You need to complete your activation process on Lawod. It's quick and easy—just click the link below, and you'll be on your way to discovering the best fishing around. {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

<i>{% blocktrans %}If you face difficulties on account activation kindly contact us on: lawod@gmail.com{% endblocktrans %}</i>

{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %} We noticed you've nearly reeled in the big one! But before you can start exploring all the prime fishing spots we have to offer, there's just one last step. You need to complete your activation process on Lawod. It's quick and easy—just click the link below, and you'll be on your way to discovering the best fishing around. {{ site_name }}.{% endblocktrans %}</p>

<p style="margin-bottom:20px;"><a style="display: inline-block; padding: 12px 24px; background-color: #196DFF; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;" href="{{ protocol }}://{{ domain }}/{{ url|safe }}">Activate Account</a></p>

<span>Follow us:</span>
<div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
  <a href="#" style="margin: 0 10px; padding: 10px 16px; border-radius: 4px; background-color: #196DFF; color: white; text-decoration: none; font-size: 14px;">
    Facebook
  </a>
  <a href="#" style="margin: 0 10px; padding: 10px 16px; border-radius: 4px; background-color: #196DFF; color: white; text-decoration: none; font-size: 14px;">
    Twitter
  </a>
  <a href="#" style="margin: 0 10px; padding: 10px 16px; border-radius: 4px; background-color: #196DFF; color: white; text-decoration: none; font-size: 14px;">
    LinkedIn
  </a>
  <a href="#" style="margin: 0 10px; padding: 10px 16px; border-radius: 4px; background-color: #196DFF; color: white; text-decoration: none; font-size: 14px;">
    YouTube
  </a>
</div>

<i>{% blocktrans %}If you face difficulties on account activation kindly contact us on: contact@lawod.com{% endblocktrans %}</i>

{% endblock html_body %}
